// place your custom styles here

// 主页背景蒙版
.vp-blog-mask::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0px) brightness(50%);
	pointer-events: none;
}

// 介绍页自定义md
.vp-portfolio-content div.mid {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.vp-portfolio-content div.right {
	float: right;
}

// 手机模式介绍页头像
@media screen and (max-width: 768px) {
	.vp-portfolio {
		height: calc(100vh - 20vw);
	}

	.vp-portfolio-avatar {
		padding-top: 5vw;
		height: 55vw;
	}
	.vp-portfolio-avatar > img {
		width: 50vw;
	}

	.vp-portfolio-info {
		top: 70vw;
		height: 60vw;
	}

	//.theme-hope-content.vp-portfolio-content {
	//    margin-top: 10vw;
	//}
}

// 文章非滚动时不显示toc
div.vp-toc-placeholder {
	//display: none !important;
}

//button.vp-back-to-top-button ~ div.theme-container div.vp-toc-placeholder {
//	display: none !important;
//}

// 自定义字体
@font-face {
    font-family: 'HYTMR';
    font-display: swap;
    src: url('https://npm.elemecdn.com/fontcdn-ariasaka@1.0.0/HYTangMeiRen55W.woff2') format("woff2");
}
#markdown-content {
	font-family: HYTMR,"sans-serif"
}